{% extends extend_path %}

{% block content %}

    {% if error %}<p style="color:red">{{ error }}</p>{% endif %}

    <div class="row py-5 justify-content-center">
        <div class="col-md-6">
            <form class="form-group" method="post" action="{% url 'store_customer:store_customer_login' %}" style="text-align: left">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input class="form-control" type="email" name="email" placeholder="Email"><br>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Password"><br>
                </div>
                <div class="mb-3" style="text-align: center">
                    <button class="btn btn-success" type="submit" style="text-align: center">Log In</button>
                </div>
            </form>
            <br/>
            <p>Haven't got a store yet? <a href="{% url 'store_customer:store_customer_register' %}">Register now</a> and
                build your
                own.</p>
        </div>
    </div>

{% endblock %}